[Desktop Entry]
Type=Application
Version=1.0
Name=FreetuxTV
Name[de]=FreetuxTV
Name[fr]=FreetuxTV
Name[lt]=FreetuxTV
Name[pt]=FreetuxTV
Name[tr]=FreetuxTV
Name[zh_CN]=FreetuxTV
Name[zh_TW]=FreetuxTV
GenericName=Television Channels Player
GenericName[de]=Internet-TV-Player
GenericName[fr]=Lecteur de chaînes de télévision
GenericName[lt]=Televizijos kanalų grotuvas
GenericName[ru]=Просмотр ТВ-каналов
GenericName[tr]=Televizyon Kanalı Oynatıcı
GenericName[zh_CN]=电视频道播放器
GenericName[zh_TW]=電視頻道播放器
X-GNOME-FullName=FreetuxTV Television Channels Player
X-GNOME-FullName[de]=FreetuxTV Internet-TV-Player
X-GNOME-FullName[fr]=Lecteur de chaînes de télévision FreetuxTV
X-GNOME-FullName[lt]=FreetuxTV televizijos kanalų grotuvas
X-GNOME-FullName[ru]=FreetuxTV Приложение для просмотра и записи ТВ-каналов
X-GNOME-FullName[tr]=FreetuxTV Televizyon Kanalı Oynatıcı
X-GNOME-FullName[zh_CN]=FreetuxTV 电视频道播放器
X-GNOME-FullName[zh_TW]=FreetuxTV 電視頻道播放器
Comment=Watch television channels from internet
Comment[es]=Ver canales de TV desde Internet
Comment[fr]=Visionnez les chaînes de télévision sur internet
Comment[lt]=Žiūrėkite televiziją internete
Comment[ru]=Просмотр и запись ТВ -каналов онлайн
Comment[tr]=Genelağdan televizyon kanallarını izleyin
Comment[zh_CN]=在网上观看电视频道
Comment[zh_TW]=在網上觀看電視頻道
Categories=AudioVideo;Video;TV;
Icon=freetuxtv
Exec=freetuxtv
Terminal=false
StartupNotify=true
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
